{% extends "base.html" %}

{% load static %}

{% block title %} Log in {% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static "css/login.css" %}" />
<form action="" class="form" method="post" id="login">
    <h1 class="title">Log in</h1>
    {% csrf_token %}
    {% for field in form %}
        {{field}}
    {% endfor %}
    <label class="label-checkbox" for="rememberMe">
        <input type="checkbox" name="rememberMe" class="form-check">
        Remember me
    </label>
    <div class="wrapper">
        <button type="submit" class="form-submit">Log in</button>
        <a class="form-signUp" href="/signUp">Sign Up</a>
    </div>
    <div class="div-social">
        <span>Войти с помощью</span>
    </div>
    <ul class="list">
        <li class="social">
            <a href="" class="social-btn">
                <img class="login" src="{% static "images/google.svg" %}" alt="google">
            </a>
        </li>
        <li class="social">
            <a href="" class="social-btn">
                <img class="login" src="{% static "images/tg.svg" %}" alt="telegram">
            </a>
        </li>
        <li class="social">
            <a href="" class="social-btn">
                <img class="login" src="{% static "images/vk.svg" %}" alt="vk">
            </a>
        </li>
        <li class="social">
            <a href="" class="social-btn">
                <img class="login" src="{% static "images/yandex.png" %}" alt="yandex">
            </a>
        </li>
    </ul>
</form>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="{% static 'js/logIn.js' %}"></script>
{% endblock content %}