{% extends "base.html" %}
{% load static %}

{% block title %} Sign up {% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static "css/signUp.css" %}" />
<form action="" class="form" method="post" id="signUp">
    <h1 class="title">Sign up</h1>
    {% csrf_token %}
    {% for field in form %}
        {{ field }}
    {% endfor %}
    <label for="confirm-valid" class="label-check">
        <input type="checkbox" id="confirm-valid" required> I've checked the correctness of the entered data
    </label>
    <label for="confirm-agreement" class="label-check">
        <input type="checkbox" id="confirm-agreement" required> I agree with the user agreement
    </label>
    <button class="form-button" type="submit" id="form-submit">Sign in</button>
</form>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="{% static 'js/signUp.js' %}"></script>
{% endblock content %}