*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    position: relative;
}

.form-input {
    border-radius: 5px;
    border: 2px solid #d1d3d4;
    color: #111111;
    font-weight: 500;
    position: relative;
    width: 300px;
    height: 45px;
    padding: 20px;
    margin: 5px;
    font-size: medium;
}

.form-check {
    position: relative;
    margin: 6px;
}

.form h1 {
    margin: 5px;
}

.form label:not(.label-checkbox) {
    display: none;
}

.form-butn {
    position: relative;
    font-weight: 500;
    background-color: #0d75ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 30%;
    height: 45px;
    border-radius: 5px;
    margin: 5px;
    font-size: 16px;
}

.form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 23px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    margin: 0 0 10px;
}

.login {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social:not(:last-child) {
    margin-right: 12px;
}

.social {
    padding: 0;
}

.div-social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.form-signUp {
    background-color: #0d75ec;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 45px;
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.social-btn {
    padding: 0;
}

.message {
    padding: 1px 0px 5px;
    border-radius: 5px;
    margin: 0px 5px;
}

.message-error {
    color: red;
}

.message-success {
    color: green;
}