{% load static %}
<link rel="stylesheet" href="{% static "css/menu.css" %}">
<div class="menu">
    <div class="menu-burger">
        <button class="burger" aria-label="Открыть меню"
            aria-expanded="false" data-burger>
            <span class="burger__line"></span>
        </button>
    </div>
    <div class="menu-content">
        <a class="home" href="/">
            <img src={% static "images/home.svg" %}>
        </a>
        <a class="profile" href="/profile">
            <img src={% static "images/profile.png" %}>
        </a>
        <a class="logOut" href="{% url 'logout' %}">
            <img src={% static "images/logOut.png" %}>
        </a>
    </div>
</div>
<script type="text/javascript" src={% static "js/menu.js" %}></script>