<!DOCTYPE html>
{% load static %}

<html>
    {% csrf_token %}
    <head>
        <link rel="stylesheet" href="{% static "css/styles.css" %}" />
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" href="data:;base64,=">
        <title>{{username}}</title>
        <style>
            .container{
               background-image: url('{% static "images/background.jpg" %}');
               background-size:100% 100%;
            }
        </style>
    </head>

    <body>
        <div class="container">
            {% if user.is_authenticated %}
            <div class="menu">
                <div class="menu-burger">
                    <button class="burger" aria-label="Открыть меню"
                        aria-expanded="false" data-burger>
                        <span class="burger__line"></span>
                    </button>
                </div>
                <div class="menu-content">
                    <a class="profile" href="/profile">
                        <img src={% static "images/profile.png" %}>
                    </a>
                    <a class="settings" href="/settings">
                        <img src={% static "images/settings.png" %}>
                    </a>
                    <a class="logOut" href="{% url 'logout' %}">
                        <img src={% static "images/logOut.png" %}>
                    </a>
                </div>
            </div>
            <div class="wrapper">
                <div id="newTask">
                    <input id="textInput" type="text" placeholder="New task">
                    <button id="push">Add</button>
                </div>
                <div id="tasks"></div>
            </div>

        </div>
        {% endif %}
        <script type="text/javascript" src={% static "js/script.js" %}></script>
    </body>

</html>