

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 23px;
    width: 100%;
    max-width: 450px;
    margin: auto;
}

.menu {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#newTask {
    position: relative;
    padding: 20px 20px;
}

#newTask input {
    width: 75%;
    height: 45px;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid #d1d3d4;
}


#newtask input:focus {
    outline: none;
    border-color: #0d75ec;
}

#newTask button {
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: #0d75ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

#tasks {
    border-radius: 23px;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 5px 20px;
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
    min-height: 50px;
}

.task {
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e1e6;
    margin-bottom: 8px;
    padding: 15px 45px 15px 10px;
    display: flex;
    position: relative;
}

.task span {
    font-size: 15px;
    font-weight: 400;
    overflow-wrap: break-word;
}

.task button {
    background-color: red;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 7px;
    border-radius: 5px;
    position: absolute;
    right: 10px;
}

#message {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}